@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    background-color:snow;
    font-family: 'Lora', serif;
}

h1 {
    color:rgb(47, 50, 53);
    text-align: center;
    font-size: 2em;
    font-family: 'Lora', serif;
}

/* Doesn't work because horseshoe uses absolute positioning
#canvas-container {
    text-align: center;
}
canvas {
    display: inline;
}
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="range"]{
  width: 500px;
}

#settings-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#countdown {
  font-size: 100pt;
}

#start-btn {
  position: absolute;
  top: 50%;
  right: 50%;
}

/* Pomo log -----------------------------------------------------------------*/
#pomo-toggle-container {
  width: 300px;
  --orange: #ff8566;
  --orange-shadow: #f07c5f;
  --label-color: #9b2406;
  --light-orange: #ffc2b3;
  --background: rgb(245, 245, 245);
}

#pomo-toggle {
  display: none;
}

.pomo-toggle:checked ~ .pomo-log {
  max-height: 400px;
  overflow: scroll;
  background-color: var(--background);
  transition: max-height .4s ease-in;
}

.pomo-toggle:checked ~ .pomo-log * {
  background-color: var(--background);
}

.pomo-log {
  list-style: none;
  position: relative;
  max-height: 0;
  padding: 5px;
  margin-top: 8px;
  overflow: hidden;
  animation: .3s overflow-animation;
  transition: max-height .1s;
}

.pomo-log > li {
  position: relative;
}

#pomo-label {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--light-orange);
  color: var(--label-color);
  box-shadow: 2px 2px 3px var(--orange-shadow);
}

#pomo-label:active {
  transition: box-shadow .05s ease-in;
  box-shadow: none;
}

#daily-log-container > h6 {
  padding: 0;
  margin: 0;
  font-size: 10pt;
}

@keyframes overflow-animation {
  from { overflow: auto }
}
/* End pomolog */

/* Task Selector */
#curr-task {
  --border-color: black;
  border: 2px solid var(--border-color);
  width: fit-content;
  padding: .35em;
  font-size: 12pt;
}
