@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  background-color: snow;
  font-family: "Lora", serif;
}

h1 {
  color: rgb(47, 50, 53);
  text-align: center;
  font-size: 2em;
  font-family: "Lora", serif;
}

.flex-icon {
  display: inline-flex;
  align-items: flex-start;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  z-index: 2; /* Sit on top */
}

#sounds {
  width: 200px;
  height: 20px;
}

/* settings labels*/
.label {
  font-size: 13px;
  position: relative;
  width: 500px;
  margin: 10px;
}
.numLeft{
  position: absolute;
  top:5px
}
.numRight{
  position: absolute;
  left: 98%;
  top:5px
}


/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 65%;
}

/* -- Timer Container -- */
#timer-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10px;
  width: 600px;
  position: absolute;
  bottom: 20%;
  left: 35%;
}
#horseshoe {
  position: relative;
  width: 80%;
  left: 10%;
}
#countdown {
  margin: 0 0.3em 50px;
  position: absolute;
  font-size: 50px;
  left: 38%;
  bottom: 45%;
}

#start-btn {
  font-size: 20px;
  width: fit-content;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  /*
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%); */ /* to keep it centered */
}

/* -- The Close Button -- */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="range"] {
  width: 500px;
}

#settings-btn {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 15px;
}

#info-btn {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 15px;
}

/* Pomo log -----------------------------------------------------------------*/
#pomo-toggle-container {
  position: absolute;
  top: 16%;
  left: 6%;
  width: 275px;
  text-align: left;
  margin-left: 5px;
  --orange: #ff8566;
  --orange-shadow: #ffad99;
  --label-color: #9b2406;
  --light-orange: #ffd6cc;
  --background: rgb(245, 245, 245);
}

/* -- Pomo log using checkbox -- */
#pomo-toggle {
  display: none;
}

.pomo-toggle:checked ~ .pomo-log {
  max-height: 400px;
  overflow: scroll;
  display: block;
  height: fit-content;
  background-color: var(--background);
  transition: max-height 0.3s ease-in;
}

.pomo-toggle:checked ~ .pomo-log * {
  background-color: var(--background);
}

.pomo-log {
  position: relative;
  max-height: 0;
  overflow: hidden;

  list-style: none;
  padding: 0px;
  margin-top: 8px;
  animation: 0.3s overflow-animation;
  transition: max-height 0.1s;
}

.pomo-log > li {
  position: relative;
  padding: 5px 10px;
}

#pomo-label {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--light-orange);
  color: var(--label-color);
  box-shadow: 2px 3px 2px var(--orange-shadow);
}

#pomo-label:active {
  transition: box-shadow 0.05s ease-in;
  box-shadow: none;
}

#daily-log-container > h6 {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 11pt;
  text-decoration: underline;
}

@keyframes overflow-animation {
  from {
    overflow: scroll;
  }
}
/* End pomolog */

/* Current Task Display */
#curr-task {
  --border-color: black;
  border: 2px solid var(--border-color);
  width: fit-content;
  padding: 0.35em;
  font-size: 12pt;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Task List ----------------------------------------------------------------*/
#task-list-container {
  position: absolute;
  right: 4%;
  top: 15%;
  width: 250px;
  padding: 5px;
  margin-bottom: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 2%;
  border-color: silver;
  /*
  right: 50px;
  top: 50px;
  */
}

#task-list-header {
  display: inline-block;
  width: 100%;
}

#task-list-header h2 {
  margin: 0;
  text-align: center;
  display: inline-block;
}

#complete-task-btn {
  vertical-align: top;
  float: right;
}

.tasks:hover {
  background-color: yellow;
}

/* Media query to prevent bunching of elements */
@media only screen and (max-width: 950px) {
  #pomo-toggle-container {
    display: none;
  }
  #task-list-container {
    display: none;
  }
  #timer-container {
    left: 9%;
  }
}

.flex {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  padding: 5px;
}
#test-btn-container {
  margin-right: 20px;
}
#test-btn {
  height: 20px;
}

/* Session circles */
#session-circles {
  --blank-circle: rgb(238, 238, 238);
  --blank-border: rgb(219, 219, 219);
  --curr-circle: yellow;
  --curr-border: rgb(223, 223, 23);
  --completed-circle: green;
  --completed-border: rgb(8, 107, 8);
  align-self: center;
  margin-bottom: 0;
  position: absolute;
  left: 40%;
  bottom: 65%;
  z-index: 1;
}

.blank-circle {
  margin: 0 4px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--blank-circle);
  border: 4px solid var(--blank-border);
}

.curr-circle {
  margin: 0 4px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--curr-circle);
  border: 4px solid var(--curr-border);
}

.completed-circle {
  margin: 0 4px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--completed-circle);
  border: 4px solid var(--completed-border);
}
