@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Pacifico&family=Quicksand&display=swap');

* {
  /* background-color:#C8EFF9; 
  background-color: #501F3A;
  */
  background-color: #52263e;
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Merienda', cursive; */ 
  /*color: rgba(255, 255, 255, 0.906);*/
  color: grey;
  /*border: 2px solid red;*/
}
/*
h1 {
  color: rgb(47, 50, 53);
  font-size: 2em;
  font-family: "Lora", serif;
  align-self: center;
}
*/

#header-container {
  display: flex;
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

button {
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.906);
  padding: 5px;
  box-shadow: 2px 5px 8px  #25111c;
  background-color: #cd6146;
  cursor: pointer;
  border: 0.25px solid rgba(201, 201, 201, 0.906);
  font-size: 18px;
  font-weight: bold;
  font-family: 'Merienda', cursive;
}

button:focus {
  outline: 0;
}
button:hover{
  border: 0.25px solid black;
}

.flex-icon {
  display: inline-flex;
  align-items: flex-start;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  z-index: 100; /* Sit on top */
}

.modal * {
  color: white;
}

#sounds {
  width: 200px;
  height: 20px;
}

#canvas-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  top: 0;
}

/* settings labels*/
.label {
  font-size: 13px;
  position: relative;
  width: 500px;
  margin: 10px;
}
.numLeft{
  position: absolute;
  top:5px
}
.numRight{
  position: absolute;
  left: 98%;
  top:5px
}
#clear-data-btn{
  background-color:red;
  width: 100%;
}
/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
 width: 80%;  /* Could be more or less, depending on screen size */
 height: 50%;
}
.Setting-window{
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
 width: 40%;  /* Could be more or less, depending on screen size */
 height: 60%;
}


#header-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:rgba(255, 255, 255, 0.906);
  font-size: 36px;
}

#settings-btn {
  width: fit-content;
  height: fit-content;
  display: inline;
  position: absolute;
  right: 100px;
}

#info-btn {
  width: 40;
  height: 40;
  align-self: center;
  position: relative;
  margin-left: 20px;
}

#language-option {
  font-size: 30px;
}

#language-select {
  font-size: 30px;
}

/* main flex box */
main {
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
}

/* -- Timer Container -- */
#timer-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  flex: 2;
}

#countdown-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 43%;
  z-index: 0;
  background-color: rgba(100, 100, 100, 0);
}

#horseshoe {
  position: relative;
  width: 80%;
  left: 15%;
  top: 0;
  background-image:radial-gradient(circle,  #713b58 10%,#52263e 60%);
}

#countdown {
  margin: 0 0.3em 50px;
  font-size: 80px;
  z-index: 1000;
  width: fit-content;
  position: relative;
  align-self: center;
  top: 0;
 /* background-color: rgba(183, 65, 14, 0.3); */
  background-color: #965f7d;
  padding: 10px 20px;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.906);
}

#start-btn {
  width: fit-content;
  font-size: 30px;
  padding: 5px 45px;
  position: relative;
  background-color: #F6A90F;
  border: 0px solid white;
  box-shadow: 3px 5px 0px rgb(155, 103, 0);
}

#start-btn:hover {
  box-shadow: 0px 0px 0px white;
  border: 1px solid white;
}

#start-container {
  position: absolute;
  top: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(100, 100, 100, 0);
}

/* -- The Close Button -- */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="range"] {
  width: 500px;
}


#work-break-label {
  --border-color: black;
  border: 2px solid var(--border-color);
  width: fit-content;
  display: none;
  padding: 0.35em;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#horseshoe {
  width: 100%;
  left: 0;
}

#task-list *:hover {
  cursor: pointer;
}

#task-list-container * {
  color: white;
  background-color: #965f7d;
}

#complete-task-btn {
  /*
  background-color: #cd6146;
  */
  background-color: #6e415b;
  box-shadow: 1px 1px 5px black;

}

#new-task-btn {
  background-color: #6e415b;
  box-shadow: 1px 1px 5px black;

} 

#task-list-container {
  background-color: #965f7d;
}

#new-task {
  color: white;
}

input::placeholder {
  color: white;
}

/* Pomo log -----------------------------------------------------------------*/
#pomo-toggle-container {
  position: relative;
  max-width: 320px;
  --orange: #ff8566;
  --label-color: white;
  --light-orange: #cd6146;
  --background: #965f7d;
  flex: 1;
  margin-left: 15%;
  top: 8vh;
}

#pomo-toggle-container * {
  color: white;
}

/* -- Pomo log using checkbox -- */
#pomo-toggle {
  display: none;
}

.pomo-toggle:checked ~ .pomo-log {
  max-height: 400px;
  overflow: scroll;
  display: block;
  height: fit-content;
  background-color: var(--background);
  transition: max-height 0.3s ease-in;
}

.pomo-toggle:checked ~ .pomo-log * {
  background-color: var(--background);
}

.pomo-log {
  position: relative;
  max-height: 0;
  overflow: hidden;

  list-style: none;
  padding: 0px;
  margin-top: 8px;
  animation: 0.3s overflow-animation;
  transition: max-height 0.1s;
}

.pomo-log > li {
  position: relative;
  padding: 5px 10px;
}

#pomo-label {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--light-orange);
  color: var(--label-color);
  box-shadow: 2px 5px 8px  #25111c;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Merienda', cursive;
  border: 0.25px solid rgba(201, 201, 201, 0.906);
}

#pomo-label:hover{
  border: 0.25px solid black;
}

#pomo-label:active {
  transition: box-shadow 0.05s ease-in;
  border: 0.25px solid block;
  box-shadow: none;
}

#daily-log-container > h6 {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 11pt;
  text-decoration: underline;
}

@keyframes overflow-animation {
  from {
    overflow: scroll;
  }
}
/* End pomolog */

/* Current Task Display */
#curr-task {
  --border-color: black;
  width: fit-content;
  padding: 10px 20px;
  font-size: 15pt;
  background-color: #965f7d;
  color: white;
  border-radius: 10px;
}

#curr-task span {
  background-color: #965f7d;
  color: white;
}

/* Task List ----------------------------------------------------------------*/
#task-list-container {
  position: relative;
  max-width: 250px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 2%;
  border-color: silver;
  height: fit-content;
  flex: 1;
  margin-right: 15%;
  top: 8vh;
  /*
  right: 50px;
  top: 50px;
  */
}

#new-task-btn {
  font-size: 8pt;
}

#complete-task-btn {
  font-size: 10pt;
}

#task-list-header {
  display: inline-block;
  width: 100%;
}

#task-list-header h2 {
  margin: 0;
  text-align: center;
  display: inline-block;
}

#complete-task-btn {
  vertical-align: top;
  float: right;
}

.tasks:hover {
  background-color: yellow;
}

/* Media query to prevent bunching of elements */
@media only screen and (max-width: 950px) {
  #pomo-toggle-container {
    display: none;
  }
  #task-list-container {
    display: none;
  }
  
}

input[type="number"] {
  margin-left: 3px;
  margin-bottom: 3px;
}

.label {
  font-size: 20px;
}

.flex {
  /*
  display: flex;
  align-items: center;
  box-sizing: border-box;
  */
  margin-bottom: 30px;
  height: 60px;
  padding: 5px;
  font-size: 30px;
  margin-left: 40px;
}

.flex-alarm {
  font-size: 30px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-items: left;
}
 
#sounds {
  margin-left: 10px;
  margin-right: 10px;
}

#test-btn-container {
  margin-right: 20px;
}
#test-btn {
  height: 40px;
  background-color: #965f7d;
}

/* Session circles */
#session-circles {
  --blank-circle: rgb(238, 238, 238);
  --blank-border: rgb(219, 219, 219);
  --curr-circle: yellow;
  --curr-border: rgb(223, 223, 23);
  --completed-circle: green;
  --completed-border: rgb(8, 107, 8);
  align-self: center;
  width: fit-content;
  margin-bottom: 10px;
  z-index: 5;
  background-color: rgba(100, 100, 100, 0);
}

.blank-circle {
  margin: 0 4px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--blank-circle);
  border: 4px solid var(--blank-border);
}

.curr-circle {
  margin: 0 4px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--curr-circle);
  border: 4px solid var(--curr-border);
}

.completed-circle {
  margin: 0 4px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--completed-circle);
  border: 4px solid var(--completed-border);
}
